
/* 리셋 CSS */
* {margin:0;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}


.second_box{
    max-width: 100%;
    height: 1000px;
    background-color: yellow;
}

/* 슬라이드 Style */
.slidebox {max-width:1000px; margin:0 auto;}
.slidebox .slidelist {white-space:nowrap;font-size:0;overflow:hidden;}
.slidebox .slidelist .slideitem {position:relative;display:inline-block;vertical-align:middle;width:100%;transition:all 1s;}
.slidebox .slidelist .slideitem > a {display:block;width:auto;position:relative;}
.slidebox .slidelist .slideitem > a img {max-width:100%;}
.slidebox .slidelist .slideitem > a label {position:absolute;top:50%;transform:translateY(-50%);padding:20px;border-radius:50%;cursor:pointer;}
.slidebox .slidelist .slideitem > a label.prev {left:20px;background:#333 url('static/images/left-arrow.png') center center / 50% no-repeat;}
.slidebox .slidelist .slideitem > a label.next {right:20px;background:#333 url('static/images/right-arrow.png') center center / 50% no-repeat;}


[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 10s infinite;}
#slide02:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 10s infinite;}

@keyframes slide01 {
	0% {left:0%;}
	49% {left:0%;}
	50% {left:-100%}
	99% {left:-100%;}
	100% {left:0;}
}

@keyframes slide02 {
	0% {left:0%;}
	49% {left:0%;}
	50% {left:100;}
	99% {left:100;}
	100% {left:0%;}
}


